<div>
    {{#each this}}  
        {{> beerpartial}}
    {{/each}}
</div>



    <!--{{#each this}}
    <img src="{{image_url}}" alt="birra">
    <p>{{name}}</p>
    <p>{{description}}</p>
    <p>{{tagline}}</p>
    {{/each}}-->